Repository TCS-Internship-2025/internship-delivery-app, pull requests merged in 2025-08, with the labels that each got.

#123 Feature/fe/89 map integration with the api
  frontend/src/apis/pickupPoints.ts
  frontend/src/components/MapMarkerPopup/MapMarkerPopup.tsx
  frontend/src/components/ParcelLocationMap.tsx
  frontend/src/pages/ParcelForm.tsx
  frontend/src/theme.ts
  frontend/src/types/PickupPoint.ts
Labels: frontend, pickupPointsMap

#137 ✨feature: Replaced hardcoded token to the one from backend
  frontend/src/apis/pickupPoints.ts
  frontend/src/components/ParcelLocationMap.tsx
Labels: frontend

#138 Feature/fe/124 enhance form UI
  frontend/src/apis/pickupPoints.ts
  frontend/src/components/PageContainer.tsx
  frontend/src/components/SectionContainer.tsx
  frontend/src/pages/ParcelForm.tsx
  frontend/src/pages/RecipientForm.tsx
  frontend/src/utils/parcelComposition.ts
Labels: feature, frontend, create-parcel

#144 small fix: adjust parcels status colors
  frontend/src/theme.ts
  frontend/src/utils/parcelChipData.ts
Labels: frontend

#119 Feature/email notification sending
  backend/pom.xml
  backend/src/main/java/com/tcs/dhv/config/MailConfig.java
  backend/src/main/java/com/tcs/dhv/controller/AuthController.java
  backend/src/main/java/com/tcs/dhv/controller/ParcelsController.java
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tcs/dhv/exception/MailMessagingException.java
  backend/src/main/java/com/tcs/dhv/service/EmailService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/util/EmailConstants.java
  backend/src/main/resources/templates/DeliveryCompletionEmail.html
  backend/src/main/resources/templates/ShipmentCreationEmail.html
  backend/src/main/resources/templates/VerificationTokenEmail.html
Labels: backend

#161 Fix/fe/155 navbar selection
  frontend/src/components/Navbar.tsx
Labels: frontend

#105 Feature/82 parcel status history timeline
  backend/src/main/java/com/tcs/dhv/controller/ParcelsController.java
  backend/src/main/java/com/tcs/dhv/controller/TrackingController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ParcelStatusHistoryDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/TrackingDto.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Parcel.java
  backend/src/main/java/com/tcs/dhv/domain/entity/ParcelStatusHistory.java
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tcs/dhv/repository/ParcelStatusHistoryRepository.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelStatusHistoryService.java
  backend/src/main/java/com/tcs/dhv/service/TrackingService.java
  backend/src/main/java/com/tcs/dhv/validation/TrackingCode.java
  backend/src/main/java/com/tcs/dhv/validation/TrackingCodeValidator.java
Labels: backend

#163 fix(auth): renamed emailVerification field, allow duplicate names
  backend/src/main/java/com/tcs/dhv/domain/dto/RegisterResponse.java
  backend/src/main/java/com/tcs/dhv/domain/entity/User.java
  backend/src/main/java/com/tcs/dhv/service/AuthService.java
  backend/src/main/java/com/tcs/dhv/service/EmailService.java
Labels: bug, backend

#181 Bugfix/correct grammatical error
  backend/src/main/resources/templates/ShipmentCreationEmail.html
Labels: bug, backend, design

#183 🐞 fix: allowing null values for non essential fields
  frontend/src/apis/parcelGet.ts
Labels: bug, frontend

#188 🐞 fix: nullable fix
  frontend/src/apis/parcelGet.ts
Labels: frontend

#186 Feature/fe 149 modify parcels and info page
  frontend/mockoon.json
  frontend/src/apis/parcelGet.ts
  frontend/src/components/ParcelDetailsContent.tsx
  frontend/src/components/ParcelGrid.tsx
  frontend/src/constants.ts
  frontend/src/pages/ParcelDetails.tsx
Labels: frontend

#196 fix: adjust phone number input and resolve parcel update issues
  frontend/src/apis/parcel.ts
  frontend/src/pages/ParcelForm.tsx
  frontend/src/utils/parcelComposition.ts
Labels: bug, frontend, parcels

#197 Feature/fe 193 fix parcel page height issue
  frontend/src/apis/parcel.ts
  frontend/src/components/ParcelDetailsContent.tsx
  frontend/src/components/ParcelGrid.tsx
  frontend/src/pages/ParcelForm.tsx
  frontend/src/utils/parcelComposition.ts
Labels: frontend

#200 feat: create README, fix pom.xml
  backend/README.md
  backend/pom.xml
Labels: feature, backend, docs

#178 feat(auth): implemented forgot password and reset password flow
  backend/src/main/java/com/tcs/dhv/controller/PasswordResetController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ForgotPasswordDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ResetPasswordDto.java
  backend/src/main/java/com/tcs/dhv/domain/entity/PasswordResetToken.java
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tcs/dhv/repository/ResetTokenRepository.java
  backend/src/main/java/com/tcs/dhv/service/EmailService.java
  backend/src/main/java/com/tcs/dhv/service/PasswordResetService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V10__add_password_reset_token.sql
Labels: feature, backend, auth, api, security

#222 🐞 fix: Landing page double login issue
  frontend/src/components/LoginForm.tsx
  frontend/src/pages/LandingPage.tsx
Labels: bug, frontend

#224 Hotfix/201 incorrect updates on parcel creation
  backend/pom.xml
  backend/src/main/java/com/tcs/dhv/controller/ParcelsController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AddressDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ParcelDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/RecipientDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/UserProfileDto.java
  backend/src/main/java/com/tcs/dhv/service/AddressChangeService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/service/RecipientService.java
  backend/src/main/java/com/tcs/dhv/service/UserService.java
  backend/src/main/resources/application.yml
Labels: bug, backend, parcels, api

#226 Feature/143 forgot password
  frontend/src/components/LoginForm.tsx
  frontend/src/components/PasswordField.tsx
  frontend/src/constants.ts
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NewPassword.tsx
  frontend/src/pages/PasswordReset.tsx
  frontend/src/pages/Register.tsx
  frontend/src/utils/authZodSchemas.ts
Labels: frontend

#232 ✨feature: getting coords for home deliveries
  frontend/src/apis/parcelGet.ts
  frontend/src/components/ParcelDetailsContent.tsx
  frontend/src/services/geoCoder.ts
Labels: frontend

#231 fix: added pending/error state handling component to some pages
  frontend/src/components/ParcelLocationMap.tsx
  frontend/src/components/QueryStates.tsx
  frontend/src/components/Timeline.tsx
  frontend/src/constants.ts
  frontend/src/pages/ParcelDetails.tsx
  frontend/src/pages/Parcels.tsx
  frontend/src/pages/ProfileInfo.tsx
  frontend/src/pages/[slug]/TrackingSlug.tsx
Labels: frontend

#238 fix(user): prevented deletion of users with undelivered parcels
  backend/src/main/java/com/tcs/dhv/repository/ParcelRepository.java
  backend/src/main/java/com/tcs/dhv/service/UserService.java
Labels: bug, backend, user-management

#237 Feature/228 forgot password functionality
  frontend/src/apis/authApi.ts
  frontend/src/components/LoginForm.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useNewPassword.ts
  frontend/src/hooks/usePasswordReset.ts
  frontend/src/hooks/usePasswordStrength.ts
  frontend/src/pages/NewPassword.tsx
  frontend/src/pages/PasswordReset.tsx
  frontend/src/utils/authZodSchemas.ts
Labels: frontend

#239 enhancement(parcels): 221 enhancement address change delivery type
  backend/README.md
  backend/src/main/java/com/tcs/dhv/controller/ParcelsController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AddressChangeDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AddressDto.java
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tcs/dhv/service/AddressChangeService.java
  backend/src/main/java/com/tcs/dhv/service/RecipientService.java
Labels: backend, parcels, api, enhancement

#251 Rework/fe/160 change profile page
  frontend/src/apis/profileInfo.ts
  frontend/src/components/ChangeAddressModal.tsx
  frontend/src/components/ChangeAddressTab.tsx
  frontend/src/components/ChangePasswordModal.tsx
  frontend/src/components/ChangePasswordTab.tsx
  frontend/src/components/ChangeProfileModal.tsx
  frontend/src/components/ChangeProfileTab.tsx
  frontend/src/components/ProfilePageContent.tsx
  frontend/src/components/ProfileSidebar.tsx
  frontend/src/pages/ProfileInfo.tsx
  frontend/src/utils/changeDataComposition.ts
Labels: frontend

#253 🐞 fix: small screen support on landing page
  frontend/src/pages/LandingPage.tsx
Labels: frontend, design

#255 fix(auth): handled unverified email with 401 instead of 500
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
Labels: bug, backend, auth

#244 refactor(db): moved address reference from Recipient to Parcel entity
  backend/README.md
  backend/src/main/java/com/tcs/dhv/controller/ParcelsController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ParcelDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/RecipientDto.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Parcel.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Recipient.java
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tcs/dhv/repository/ParcelRepository.java
  backend/src/main/java/com/tcs/dhv/repository/RecipientRepository.java
  backend/src/main/java/com/tcs/dhv/service/AddressChangeService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/service/RecipientService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V11__move_address_to_parcel.sql
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/main/resources/db/migration/V3__recipient_table_addition_schema.sql
  backend/src/main/resources/db/migration/V4__add_refresh_token_table.sql
  backend/src/main/resources/db/migration/V5__create_api_key_table.sql
Labels: backend, parcels, database, api, enhancement

#256 Feature/fe/93 address change
  frontend/src/apis/parcel.ts
  frontend/src/apis/parcelGet.ts
  frontend/src/components/AddressChangeModal.tsx
  frontend/src/components/FormProgressBar.tsx
  frontend/src/components/MapMarkerPopup/MapMarkerPopup.tsx
  frontend/src/components/ParcelLocationMap.tsx
  frontend/src/components/SharedForm.tsx
  frontend/src/constants.ts
  frontend/src/contexts/FormContext.tsx
  frontend/src/hooks/useAddressChangeForm.ts
  frontend/src/hooks/useParcelForm.ts
  frontend/src/main.tsx
  frontend/src/pages/ParcelForm.tsx
  frontend/src/providers/FormProvider.tsx
  frontend/src/utils/parcelComposition.ts
  frontend/src/utils/parcelTypeConverter.ts
Labels: frontend, parcels, optional, Edit parcel

#258 Fe 234 testing create parcel
  frontend/src/components/ErrorContent.tsx
  frontend/src/components/ParcelDetailsContent.tsx
  frontend/src/components/ParcelGrid.tsx
  frontend/src/components/ParcelLocationMap.tsx
  frontend/src/components/QueryStates.tsx
  frontend/src/pages/Error.tsx
  frontend/src/pages/ParcelDetails.tsx
  frontend/src/pages/Parcels.tsx
  frontend/src/pages/ProfileInfo.tsx
Labels: frontend

#225 67 optimistic locking
  backend/src/main/java/com/tcs/dhv/domain/entity/Address.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Parcel.java
  backend/src/main/java/com/tcs/dhv/domain/entity/User.java
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tcs/dhv/service/AddressChangeService.java
  backend/src/main/java/com/tcs/dhv/service/RecipientService.java
  backend/src/main/java/com/tcs/dhv/service/UserService.java
  backend/src/main/java/com/tcs/dhv/validation/UniquePhoneValidator.java
  backend/src/main/resources/db/migration/V12__add_version_to_entities.sql
Labels: backend

#230 Basic Caching Implementation
  backend/pom.xml
  backend/src/main/java/com/tcs/dhv/DhvApplication.java
  backend/src/main/java/com/tcs/dhv/config/RedisConfig.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AddressDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ParcelDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/RecipientDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/TrackingDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/UserProfileDto.java
  backend/src/main/java/com/tcs/dhv/service/AddressChangeService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/service/TrackingService.java
  backend/src/main/java/com/tcs/dhv/service/UserService.java
  backend/src/main/resources/application.yml
Labels: tech, backend, config, caching

#263 fix(auth): returned 403 instead of 401 with custom message for authentication block
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
Labels: bug, backend, auth

#262 deleted an old method, that was left from improper branch merge
  backend/src/main/java/com/tcs/dhv/domain/dto/RecipientDto.java
  backend/src/main/java/com/tcs/dhv/service/AddressChangeService.java
Labels: bug, backend

#245 Feature/190 parcel status update
  backend/src/main/java/com/tcs/dhv/config/SecurityConfig.java
  backend/src/main/java/com/tcs/dhv/config/openapi/OpenApiConfig.java
  backend/src/main/java/com/tcs/dhv/controller/PublicParcelsController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/StatusUpdateDto.java
  backend/src/main/java/com/tcs/dhv/domain/enums/ParcelStatus.java
  backend/src/main/java/com/tcs/dhv/repository/RecipientRepository.java
  backend/src/main/java/com/tcs/dhv/security/ApiKeyFilter.java
  backend/src/main/java/com/tcs/dhv/service/EmailService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelStatusHistoryService.java
Labels: feature, backend, api

#271 enhancement(docs): Improve parcels swagger docs, fix recipient entity graph illegal reference
  backend/src/main/java/com/tcs/dhv/config/openapi/SchemaConstants.java
  backend/src/main/java/com/tcs/dhv/controller/ParcelsController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AddressDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ParcelDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/RecipientDto.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Recipient.java
  backend/src/main/java/com/tcs/dhv/domain/enums/RecipientTitle.java
  backend/src/main/java/com/tcs/dhv/repository/RecipientRepository.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/service/RecipientService.java
  backend/src/main/resources/db/migration/V13__remove_recipient_email_unique_constraint.sql
Labels: backend, parcels, docs, enhancement

#283 Feature/fe/246 adjust everything for new parcel structure
  frontend/src/apis/parcel.ts
  frontend/src/apis/parcelGet.ts
  frontend/src/components/AddressChangeModal.tsx
  frontend/src/components/ChangeAddressTab.tsx
  frontend/src/components/ChangeProfileTab.tsx
  frontend/src/components/ParcelDetailsContent.tsx
  frontend/src/components/ParcelGrid.tsx
  frontend/src/components/ProfilePageContent.tsx
  frontend/src/components/QueryStates.tsx
  frontend/src/constants.ts
  frontend/src/hooks/useAddressChangeForm.ts
  frontend/src/main.tsx
  frontend/src/pages/ParcelDetails.tsx
  frontend/src/pages/ParcelForm.tsx
  frontend/src/pages/Parcels.tsx
  frontend/src/pages/ProfileInfo.tsx
  frontend/src/utils/parcelComposition.ts
Labels: frontend

#227 Feature: implemented public and private tracking details (if the user is authenticated it returns more info)
  backend/src/main/java/com/tcs/dhv/controller/TrackingController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/TrackingDto.java
  backend/src/main/java/com/tcs/dhv/security/DhvUserDetails.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/service/TrackingService.java
Labels: backend

#288 feat: remove devtools dependency
  backend/pom.xml
Labels: backend, config

#278 feat: Send user update email with password change info
  backend/src/main/java/com/tcs/dhv/service/EmailService.java
  backend/src/main/java/com/tcs/dhv/service/UserService.java
  backend/src/main/resources/templates/UserUpdatedEmail.html
  backend/src/test/java/com/tcs/dhv/EmailTemplateTest.java
Labels: backend

#303 Enhancement/290 parcel management
  backend/src/main/java/com/tcs/dhv/domain/event/ParcelAddressChangedEvent.java
  backend/src/main/java/com/tcs/dhv/domain/event/ParcelCreatedEvent.java
  backend/src/main/java/com/tcs/dhv/domain/event/ParcelStatusUpdatedEvent.java
  backend/src/main/java/com/tcs/dhv/repository/ParcelRepository.java
  backend/src/main/java/com/tcs/dhv/service/AddressChangeService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelCacheService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelEventHandler.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
  backend/src/main/java/com/tcs/dhv/service/RecipientService.java
Labels: backend, parcels, api, enhancement

#298 Test/parcel tracking
  backend/src/test/java/com/tcs/dhv/TrackingTest.java
Labels: backend, testing

#316 🐞 fix: geomapping for apartmants
  frontend/src/services/geoCoder.ts
Labels: frontend
