Repository TCS-Internship-2025/internship-delivery-app, pull requests merged in 2025-07, with the labels that each got.

#51 Feature/fe/welcomepage
  frontend/src/constants.ts
  frontend/src/main.tsx
  frontend/src/pages/LandingPage.tsx
Labels: frontend

#45 Feature/fe 019 parcel form core
  frontend/src/apis/parcel.ts
  frontend/src/components/FormSectionFields.tsx
  frontend/src/constants.ts
  frontend/src/pages/Page1.tsx
  frontend/src/utils/page1Composition.ts
  frontend/src/utils/parcelComposition.ts
Labels: feature, frontend

#46 Feature/fr auth
  frontend/src/apis/authApi.ts
  frontend/src/components/LoginForm.tsx
  frontend/src/components/LoginHeader.tsx
  frontend/src/components/PasswordField.tsx
  frontend/src/components/PasswordStrengthIndicator.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/RegistrationForm.tsx
  frontend/src/components/RegistrationHeader.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/constants.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useLoginForm.ts
  frontend/src/hooks/usePasswordStrength.ts
  frontend/src/hooks/useRegisterForm.ts
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/services/authService.ts
  frontend/src/types/auth.ts
  frontend/src/utils/authZodSchemas.ts
Labels: frontend

#53 Feature/fr/49 routing
  frontend/src/main.tsx
  frontend/src/pages/LandingPage.tsx
Labels: frontend

#36 feat(db): wire up PostgreSQL datasource and include initial schema script
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__init.sql
Labels: backend

#43 Feature/add email config
  backend/pom.xml
  backend/src/main/java/com/tcs/dhv/config/MailConfig.java
  backend/src/main/java/com/tcs/dhv/service/EmailService.java
  backend/src/main/java/com/tcs/dhv/util/EmailConstants.java
Labels: backend

#30 feat(auth): implemented authentication with JWT, login/register endpoints, and security config
  backend/pom.xml
  backend/src/main/java/com/tcs/dhv/DhvApplication.java
  backend/src/main/java/com/tcs/dhv/config/JwtConfig.java
  backend/src/main/java/com/tcs/dhv/config/SecurityConfig.java
  backend/src/main/java/com/tcs/dhv/controller/AuthController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ApiErrorResponse.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AuthResponse.java
  backend/src/main/java/com/tcs/dhv/domain/dto/LoginRequest.java
  backend/src/main/java/com/tcs/dhv/domain/dto/RegisterRequest.java
  backend/src/main/java/com/tcs/dhv/domain/dto/RegisterResponse.java
  backend/src/main/java/com/tcs/dhv/domain/dto/UserDto.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Address.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Parcel.java
  backend/src/main/java/com/tcs/dhv/domain/entity/ParcelStatusHistory.java
  backend/src/main/java/com/tcs/dhv/domain/entity/PredefinedLocation.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Recipient.java
  backend/src/main/java/com/tcs/dhv/domain/entity/RefreshToken.java
  backend/src/main/java/com/tcs/dhv/domain/entity/User.java
  backend/src/main/java/com/tcs/dhv/domain/enums/DeliveryType.java
  backend/src/main/java/com/tcs/dhv/domain/enums/LocationStatus.java
  backend/src/main/java/com/tcs/dhv/domain/enums/ParcelStatus.java
  backend/src/main/java/com/tcs/dhv/domain/enums/PaymentType.java
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tcs/dhv/repository/RefreshTokenRepository.java
  backend/src/main/java/com/tcs/dhv/repository/UserRepository.java
  backend/src/main/java/com/tcs/dhv/security/DhvUserDetails.java
  backend/src/main/java/com/tcs/dhv/security/DhvUserDetailsService.java
  backend/src/main/java/com/tcs/dhv/security/JwtService.java
  backend/src/main/java/com/tcs/dhv/service/AuthService.java
  backend/src/main/java/com/tcs/dhv/service/EmailVerificationService.java
  backend/src/main/java/com/tcs/dhv/service/OtpService.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V4__add_refresh_token_table.sql
  compose.yaml
Labels: backend

#55 feat: implement parcel management module with DTOs, mappers, and CRUD operations + refactor package structure (#24)
  backend/pom.xml
  backend/src/main/java/com/tcs/dhv/config/MailConfig.java
  backend/src/main/java/com/tcs/dhv/config/SecurityConfig.java
  backend/src/main/java/com/tcs/dhv/controller/AuthController.java
  backend/src/main/java/com/tcs/dhv/controller/ParcelsController.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AddressRequest.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AddressResponse.java
  backend/src/main/java/com/tcs/dhv/domain/dto/AddressUpdate.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ApiErrorResponse.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ParcelRequest.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ParcelResponse.java
  backend/src/main/java/com/tcs/dhv/domain/dto/ParcelUpdate.java
  backend/src/main/java/com/tcs/dhv/domain/dto/RecipientDto.java
  backend/src/main/java/com/tcs/dhv/domain/dto/UserDto.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Address.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Parcel.java
  backend/src/main/java/com/tcs/dhv/domain/entity/ParcelStatusHistory.java
  backend/src/main/java/com/tcs/dhv/domain/entity/PredefinedLocation.java
  backend/src/main/java/com/tcs/dhv/domain/entity/Recipient.java
  backend/src/main/java/com/tcs/dhv/domain/entity/User.java
  backend/src/main/java/com/tcs/dhv/domain/enums/DeliveryType.java
  backend/src/main/java/com/tcs/dhv/domain/enums/LocationStatus.java
  backend/src/main/java/com/tcs/dhv/domain/enums/ParcelStatus.java
  backend/src/main/java/com/tcs/dhv/domain/enums/PaymentType.java
  backend/src/main/java/com/tcs/dhv/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/tcs/dhv/mapper/AddressMapper.java
  backend/src/main/java/com/tcs/dhv/mapper/ParcelMapper.java
  backend/src/main/java/com/tcs/dhv/mapper/RecipientMapper.java
  backend/src/main/java/com/tcs/dhv/repository/ParcelRepository.java
  backend/src/main/java/com/tcs/dhv/repository/UserRepository.java
  backend/src/main/java/com/tcs/dhv/service/AuthService.java
  backend/src/main/java/com/tcs/dhv/service/EmailVerificationService.java
  backend/src/main/java/com/tcs/dhv/service/ParcelService.java
Labels: backend

#77 Added CORS configuration file. Modified SecurityConfig accordingly.
  backend/src/main/java/com/tcs/dhv/config/SecurityConfig.java
  backend/src/main/resources/application.yml
Labels: backend

#80 fix(auth): corrected user registration response format
  backend/src/main/java/com/tcs/dhv/config/MailConfig.java
  backend/src/main/java/com/tcs/dhv/domain/dto/RegisterResponse.java
  backend/src/main/java/com/tcs/dhv/domain/entity/User.java
  backend/src/main/java/com/tcs/dhv/service/EmailService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1__init_schema.sql
Labels: bug, backend

#75 Feature/fe/mapcomponent
  .vscode/settings.json
  frontend/package.json
  frontend/src/components/MapMarkerPopup/MapMarkerPopup.css
  frontend/src/components/MapMarkerPopup/MapMarkerPopup.tsx
  frontend/src/components/ParcelLocationMap.tsx
  frontend/src/constants.ts
  frontend/src/providers/ThemeProvider.tsx
  frontend/src/types/PickupPoint.ts
  pnpm-lock.yaml
Labels: frontend

#98 Bug/97 bug registration form hungarian letters
  frontend/src/utils/authZodSchemas.ts
Labels: frontend

#73 Database migration
  backend/src/main/resources/db/migration/V3__recipient_table_addition_schema.sql
  backend/src/main/resources/db/migration/V5__on_delete_changes.sql
  backend/src/main/resources/db/migration/V6__recipient_titles.sql
Labels: backend

#112 fix: resolved missing property causing migration and startup failure
  backend/src/main/resources/db/migration/V6__recipient_titles.sql
  backend/src/main/resources/db/migration/V7__on_delete_changes.sql
  backend/src/main/resources/db/migration/V8__insert_predefined_locations.sql
Labels: bug, backend

#120 Bug/114 text visibility fix
  frontend/src/providers/ToastProvider.tsx
  frontend/src/theme.ts
Labels: frontend

#116 107 fix phone navbar routes
  frontend/src/components/NavItem.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Navigation.tsx
Labels: bug, frontend

#115 Feature/fe 87 implementing parcel creation with backend apis
  frontend/src/apis/parcel.ts
  frontend/src/constants.ts
  frontend/src/contexts/FormContext.tsx
  frontend/src/pages/ParcelForm.tsx
  frontend/src/providers/FormProvider.tsx
  frontend/src/utils/parcelComposition.ts
Labels: frontend, create-parcel
